{
  "presets": ["env", "react"],
  "plugins": ["syntax-dynamic-import", "react-hot-loader/babel", "transform-class-properties", [
    "transform-runtime",
    {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }
  ]]
}
